div.example {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #c94743, #8914a1, #41a3ff);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  font-family: "Noto Sans", Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
